:root {
  --color-spe: #ecffff;
  --color-com: #e0e0e0;

  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --grayishBlue: hsl(229, 6%, 66%);

  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}
* {
  font-size: 0.9rem;
}
header h2 {
  font-size: 18pt;
}
header {
  color: white;
  padding: 1rem;
  background-color: #563d7c;
  display: flex;
  justify-content: space-between;
}
div.content-flex {
  display: flex;
}
aside {
  min-width: 200px;
  padding: 1rem;
}
form > div {
  margin-left: 1rem;
}
main {
  width: -webkit-fill-available;
}
section {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
section > * {
  flex: 1 1 15rem;
  /*background-color: bisque;*/
}
article.spe.ressource .card-header {
  background-color: var(--color-spe);
}
article.spe.sae .card-header {
  background-color: var(--color-spe);
}
article.spe.sae span.badge {
  background-color: var(--color-spe);
}
article.com.ressource .card-header {
  background-color: var(--color-com);
}
article.com.sae .card-header {
  background-color: var(--color-com);
}
article:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 0.8rem #bbbbbb;
  transition-duration: 0.2s;
}
article h6 {
  /*font-weight: 300;*/
}

article .card-header {
  font-size: 0.8em;
}

tr.spe.ressource{
  /*background-color: var(--color-spe);*/
}
tr.spe.sae {
  /*background-color: var(--color-spe);*/
}
tr.com.ressource {
  background-color: whitesmoke;
}
tr.com.sae {
  background-color: whitesmoke;
}

p.card-subtitle{
  margin-top: 1rem;
}
p.card-subtitle::before{
  position:absolute;
  transform: translateY(-0.5rem);
  content: "";
  width: 2em;
  border-top: thin solid currentColor;
}


.box{
  border-radius: 5px;
  box-shadow: 0px 0px 40px -20px var(--grayishBlue);
  padding: 30px;
}

.box:hover{
  box-shadow: 0px 20px 40px -20px var(--grayishBlue);
}

.box p {
  color: var(--grayishBlue);
}

.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--orange);
}
.orange {
  border-top: 3px solid var(--blue);
}

.box>h4 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}
