html, body{
  width:100%;
  height:100%;
  margin:0px;
  paddind:0px;
}

#bmr1{cursor: pointer ;
}

#bmr2{cursor: pointer ;
}

#bmr3{cursor: pointer ;
}

#logo:hover{cursor:pointer;}
